params {
     pairs         = "$projectDir/data/*_{1,2}.fastq.gz"
     config        = "$projectDir/conf/indrop_v1_2.xml"
     barcode_list  = "$projectDir/conf/indrop_v1_2_barcodes.txt"
     output        = "output_v1_2"
     genome        = "$projectDir/anno/GRCh38.genome.fa.gz"
     annotation    = "$projectDir/anno/gencode.v21.annotation.gtf.gz"
     mtgenes       = ""
     dbdir         = "$projectDir/db"
     keepmulti     = "NO"
     library_tag   = "AGATATAA"
     version       = "1_2"
     email	      = "yourmail@yourdomain"
}
