params {
     pairs         = "$projectDir/data/*_{1,2}.fastq.gz"
     read_len      = ""
     config        = "$projectDir/conf/indrop_v1_2.xml"
     barcode_list  = "$projectDir/conf/indrop_v1_2_barcodes.txt"
     output        = "output_v1_2"
     genome        = "$projectDir/anno/Homo_sapiens.GRCh38.cdna.all.fa.gz"
     annotation    = "$projectDir/anno/gencode.v21.annotation.gtf"
     mtgenes       = ""
     dbdir         = "$projectDir/db"
     keepmulti     = "YES"
     library_tag   = "AGATATAA"
     version       = "1_2"
     email	    = "your.email@domain.com"
}
